*{
    margin:0;
    padding: 0;

}
header{
    background-color: #7e3f3b;
}
.menu_geral{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.menu_cima{
    float: left;
    margin: 15px 300px;
}
.menu_cima img{
    width:210px;
    height:210px;
    transition: 1s;

}
.menu_cima img:hover{
    width:310px;
    height:310px;
    transition: 1s;

}
.menu_baixo *{
    display: inline;
}
.menu_baixo a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    transition: 1s;
}
.menu_baixo a:hover{
    font-size: 40px;
    background-color: #9b3730;
    border-radius: 7px;
    padding: 1px;
    transition: 0.5s;


}

.cadastro_menu{
    margin-left: 110px;
}

.menu_baixo{
    margin-top: 100px;
    float: right;
}

.menu_baixo li{
    padding-right: 100px;
    display: inline-block;
}
.menu_baixo a{
    text-decoration: none;
}


.titulo_inicial{
    margin: 50px auto;
    text-align: center;
    transition: 1s;
}

.titulo_inicial:hover{
    font-size: 50px;
}

.produto_geral{
    margin: 100px auto;
    text-align: center;
    max-width: 2000px;
}
.produto{
    margin: 20px auto;
    margin-right: 100px;
    text-align: center;
    display: inline-block;
    transition: 0.5s;
}
.produto:hover{
    border: 3px solid #7e3f3b;
    border-radius: 20px;
    transition: 1s;

}
.produto s{
    color: brown;
}
.produto p{
    font-size: 20px;
}
.produto a{
    text-decoration: none;
    color: black;
}


.mais_vendidos {
    margin: 20px auto;
    max-width: 800px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 50px;
}

.mais_vendidos h1 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.mais_vendidos table {
    width: 100%;
    margin-bottom: 30px;
}

.mais_vendidos th,td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 190px;
}

.mais_vendidos th {
    color: white;
    background-color: #7e3f3b;
}
.mais_vendidos tr {
    transition: 0.7s;
    font-size: 15px;
}
.mais_vendidos tr:hover {
    transition: 1s;
    font-size: 17px;
    background-color: #d0cccc;
}

footer{
    background: #3b3d3d;
}

footer ul,li,h2{
    color: white;
    text-align: center;
    list-style: none;
}




.categorias_footer h2{
    padding-top: 30px;
}


.lista_final{
    margin-top: 30px;
    margin-right: 0px;
}
.lista_final li{
    padding-bottom: 12px;
}
.lista_final a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: 0.5s;
}
.lista_final a:hover{
    background-color: #7e3f3b;
    font-size: 20px;
    border-radius: 7px;
    padding: 1px;
    transition: 0.5s;
}







.forma_entrar{
    margin: 100px auto;
    text-align: center;
    font-size: 30px;
}

.forma_entrar form {
    max-width: 500px;
    margin: 0 auto;
}
  
.forma_entrar label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
.enviar_email, .senha_entrar{
    font-size: 20px;
    text-align: center;
    align-items: center;
    width: 20%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
  
.enviar_entrar{
    display: block;
    margin: 40px auto;
    align-items: center;
    background-color: #0d3e87;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

  

  
















