*{
    margin:0 auto;
    padding: 0 auto;

}
header{
    background-color: #7e3f3b;
}
.menu_geral{
    margin: 0;
    padding: 0;
    align-items: center;
    display: inline-block;
}
.menu_cima{
    float: left;
    margin: 15px 300px;
}
.menu_cima img,a{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.menu_baixo{
    margin-top: 100px;
    float: right;
}

.menu_baixo li{
    padding-right: 100px;
    display: inline-block;
}
.menu_baixo a{
    text-decoration: none;
}

.produto_geral{
    margin: 100px auto;
    text-align: center;
    max-width: 2000px;
}
.produto{
    margin-right: 100px;
    text-align: center;
    display: inline-block;
}
.produto{
    margin: 20px auto;
    margin-right: 100px;
    text-align: center;
    display: inline-block;
}
.produto s{
    color: brown;
}
.produto p{
    font-size: 20px;
}
.produto a{
    text-decoration: none;
    color: black;
}

footer{
    background: #3b3d3d;
}

footer ul,li,h2{
    color: white;
    text-align: center;
    list-style: none;
}





.tabela table{
    text-align: center;
    align-items: center;
    margin: 20px 0 40px;
}
.tabela h2{
    text-align: center;
    align-items: center;
    margin: 20px 0 40px;
}

.tabela thead{
    background:#555555;
    color: white;
    font-weight: bold;
}

.tabela td, th {
    color: white;
    text-align: center;
    align-items: center;
    border: 1px solid#ffffff;
    padding: 8px 15px;
}

.lista_final{
    margin-right: 40px;
}









.forma_entrar form {
    max-width: 500px;
    margin: 0 auto;
}
  
.forma_entrar label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
  
.enviar_email, .senha_entrar{
    text-align: center;
    display: block;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
  
.enviar_entrar{
    display: block;
    margin: 40px auto;
    align-items: center;
    background-color: #0d3e87;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

  

  
















